
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/NewRepo.iml
/tenv
/env
One/.pytest_cache
One/__pycache__/__init__.cpython-310.pyc
One/__pycache__/First.cpython-310-pytest-7.2.1.pyc
One/__pycache__/Second.cpython-310-pytest-7.2.1.pyc
